@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #1f1f1f;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

section {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 100px;
}

.btn {
  background-color: #f60f20;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;

  /* for margin to take effect */
  /* since a tag is an inline element */
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(0.95);
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 10;
}

.home-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

.navigation {
  display: none;
}
